.evidence-container {
  display: flex;
  flex-direction: row;
}

.evidence-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.evidence-item {
  display: flex;
  align-items: center;
  height: 15px;
  padding: 5px 5px 5px 5px;
  overflow: none;
  user-select: none;
}

.evidence-item:hover {
  background-color: rgba(127, 161, 255, 0.5);
  cursor: pointer;
}

.disproved {
  font-weight: bold;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.excluded {
  opacity: 10%;
}

.proved {
  font-weight: bolder;
}

.excluded {
  opacity: 10%;
}

.included {
  background-color: rgba(0, 128, 0, 0.4);
}

.common {
  background-color: rgba(245, 188, 2, 0.4);
}

