
<div class="ghost-container">
  <div class="ghost-column" *ngFor="let column of columns">
    <div class="ghost-item" *ngFor="let ghost of column"
      [class.selected]="isGhostSelected(ghost)"
      [class.excluded]="isGhostDisproved(ghost)">
        <div class="ghost-title"
        (click)="ghostClicked(ghost)"
        [class.selected-text]="isGhostSelected(ghost)"
        [class.crossedoff]="isGhostExcluded(ghost)">
          {{ ghost.name }}
        </div>
        <div class="ghost-detail-row" [class.excluded]="isGhostExcluded(ghost)">
          <app-ghost-footstep [ghost]="ghost"></app-ghost-footstep>
          <div class="ghost-sanity-detail"
            [class.safe-sanity]="ghost.sanity.max < 50"
            [class.danger-sanity]="ghost.sanity.max > 50">
            <img src="assets/img/sanity.png" width="14px" height="14px" />
            {{ ghost.sanity.normal }}%
            <app-tooltip *ngIf="ghost.sanity.max > ghost.sanity.normal">
              {{ ghost.sanity.max }}% - {{ghost.sanity.condition}}
            </app-tooltip>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="ipag" (click)="resetEvidence()">I Picked A Ghost</div>