.ghost-container {
  display: flex;
  flex-direction: row;
}
  
.ghost-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
  width: 120px;
}

.ghost-item {
  display:flex;
  flex-direction: column;
  height: 38px;
  user-select: none;
  text-align: center;
  align-items: center;
  padding: 4px 0px 4px 0px
}

.ghost-detail-row {
  display: flex;
  flex-direction: row;
  width: 100px;
}

img {
  padding-right: 2px;
}

div.ghost-detail-row > div {
  display: flex;
  width: 50px;
  align-items: center;
  border-radius: 4px;
  padding: 2px 4px 2px 4px;
}

div.ghost-sanity-detail {
  display: flex;
  justify-content: space-between;
}

.ghost-item:has(div.ghost-title:hover) {  
  background-color: rgba(127, 161, 255, 0.5);
  cursor: pointer;
}

.excluded {
  opacity: 20%;
}

div.ipag {
  padding-top: 10px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  height: auto;
  user-select: none;
  cursor: pointer;
}

div.ipag:hover {
  opacity: 80%;
}

div.ipag:active {
  font-weight: bolder;
  color: rgb(40,40,40)
}

.crossedoff  {
  font-weight: bold;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.selected {
  background-color: rgba(0, 128, 0, 0.3);
}

.ghost-item > div:first-child {
  margin: auto;
}

.selected-text {
  font-weight: bold;
}

.danger-sanity {
  background: linear-gradient(to right, rgba(220,0,0,0),rgba(220,0,0,0), rgba(220,0,0,0.2), rgba(220,0,0,0.4));
}

.safe-sanity {
  background: linear-gradient(to right, rgba(0,220,0,0),rgba(0,220,0,0), rgba(0,220,0,0.2), rgba(0,220,0,0.4));
}