<html>
  <body>
    <!-- 
      List of ghosts

      List of evidence that to turn ghosts on or off with 3 states, unknown, yes, and no.

      Every ghost, has a yes/no for every evidence.

      A ghost can only be on, if the evidence that is ticked on, match it's evidence.

      If the evidence is ticked on, and is not a ghosts evidence, the ghost must be off.
    -->
    <div class="flex-column-container">
      <div class="book-container">
        <div class="flex-row-container">
          <div class="flex-column-container">
            <!-- ghosts -->
            <app-ghost-list></app-ghost-list>
          </div>
          <div class="flex-column-container">
            <!-- evidence -->
            <app-secondary-evidence-list></app-secondary-evidence-list>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>