body {
    display:flex;
    margin:0px;
}

div.book-wrapper {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin:auto;
}

div.book-tabs {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

div.book-tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

div.page {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background-color: #a39f71;
}

div.page > div {
    display: flex;
    flex-direction: column;
}

div.left-page {
    height: 100%;
    padding: 0px 20px 0px 20px;
    background: linear-gradient(to left, rgba(0,0,0,0.2),rgba(0,0,0,0.05),rgba(0,0,0,0.0),rgba(0,0,0,0), rgba(0,0,0,0));
}

div.right-page {
    height: 100%;
    padding: 0px 20px 0px 30px;
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.1),rgba(0,0,0,0.0),rgba(0,0,0,0), rgba(0,0,0,0));
  }

div.page-header {
    padding-top: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    height: auto;
}

.hidden-subtitle {
    text-align: center; 
    opacity: 5%; 
    user-select: none;
  }

div.flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%
}

div.flex-column-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.primary-evidence {
    width: 280px;
    padding: 10px 0px 5px 0px;
    margin: auto;
}

.secondary-evidence {    
    font-size: 14px;
}
