div.clock {
    display: flex;
    width: 180px;
    height: 180px;
    background-size: cover;
    background-image: url('../../../../assets/img/pocketwatch.png');
}

div.face {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.fill {
    display: flex;
    border-radius: 50%;
    width: 51%;
    height: 51%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.timer-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    color: #fff;
    margin-top: -35px;
}